[2019-08-14 15:43] faroit opened #1 "travis tests fail due to missing mkl library"
travis doesn't support mkl out-of-the-box which is why the unit tests currently fail. See [issue here](https://github.com/travis-ci/travis-ci/issues/5381). A work around seems to install the intel mkl library through apt.

[2019-08-16 08:48] HIN0209 opened #2 "git Repo issue"
Hi, I have been waiting this for long!
I wold like to report my experiences on training MUSDB18 (Ubuntu 18.04, GTX1080Ti, CUDA10).

"python train.py --root ./musdb18 --target vocals" yielded the following errors.
1: raise InvalidGitRepositoryError(epath)
git.exc.InvalidGitRepositoryError:
My Response: "git init" created bunch of files under .git

2: Then two different error messages: raise ValueEr

[2019-08-16 13:27] agangzz opened #3 "training speech of MUSDB18 is very slow"
My system: Ubuntu 16.04, one GTX1080Ti, CUDA9, 24 core CPU

When training MUSDB18 using default unmix model, there are 544 batches, the iteration time of one bactch is about 21 seconds, so the training time of total 544 batches is 21*544 sec = 11424 sec = 3.1 hours, which is very slow.

PS: my training script is:
python train.py --root path/to/musdb18 --target vocals

I suspect that there are some

[2019-08-16 17:58] faroit commented on #3
Thanks for your input. We a are currently polishing the release and are very glad to receive any feedback.

using the default values, I get 344 batches per epoch using the original [stems version of the dataset](https://zenodo.org/record/1117372).

on a similar machine i get 14 seconds per batch using the stems. Yes this is very slow, but this is a known of decoding mp4 stems.

There are two ways

[2019-08-16 18:01] faroit commented on #1
fixed by updating torch to 1.2 in 0f484518d608a1e6b030fbe4c5edacf514e66203

[2019-08-16 18:01] #1 closed

[2019-08-16 18:09] faroit commented on #2
1: raise InvalidGitRepositoryError(epath)
git.exc.InvalidGitRepositoryError:
My Response: "git init" created bunch of files under .git

ValueError: Reference at 'refs/heads/master' does not exist
My Response: As suggested, created .git/refs/heads/master and wrote "ref: refs/heads/master" in the text there
Result: this stopped the error.

this looks like did not clone the repository but instead dow

[2019-08-17 01:18] HIN0209 commented on #2
Hello, thank you for your comments.
Yes, I downloaded the zip file instead of git clone. I now git cloned it and worked (tried only the GPU version).

Minor comment: in Installation document, "env create -f environment-X.yml where X is either [cpu-linux, gpu-cuda10, cpu-osx], depending on your system."
gpu-cuda10 is incorrect. Instead, gpu-linux-cuda10 should be placed.

Similar to another post, m

[2019-08-17 01:18] #2 closed

[2019-08-19 02:12] agangzz commented on #3
Increase the number of workers

This way is very usefully for speeding up training process. Whet I set --nb-workers=8,  I get to 3 seconds per batch (orig is 21 seconds).

I will try the second way "Convert the dataset to wav using the builtin musdb cli tool", which I believe it would be more effective.

Thanks a lot

[2019-08-19 06:58] faroit commented on #3
There a third way of downloading our newly released [MUSDB18-HQ](https://zenodo.org/record/3338373) which is already saved in WAV format. However, be aware that this means you can not use this dataset for comparison of BSSeval results (e.g. if you plan to write a paper) with state-of-the-art methods, since the data is slightly different.

[2019-08-26 11:47] HIN0209 opened #4 "sourcefolder training"
Hello, again.
@sigsep:
Sorry to bother you, but I should have another novice mistake on training a "sourcefolder" dataset.
Specifically, I am using DCASE2013_subtask2/singlesounds_stereo that has 320 wav files containing 16 classes of environmental noises (alert, clearthroat, cough, etc, 20 files each).I separated them into different folders according to the noise labels (./DCASE2013 (as root)/tra

[2019-08-26 12:08] faroit commented on #4
Hi, thanks for your input. We are really keen on people trying the other datasets. So, feel free to comment on the API/documentation on this as well.

Regarding the issue, I think the  the command line looks good.

I just tested with the following folder structure:
![image](https://user-images.githubusercontent.com/72940/63689525-80582800-c80a-11e9-8358-09937be73500.png)

running

[code]

This wor

[2019-08-26 12:33] faroit commented on #3
@agangzz could you get to sufficient gpu utilization with wav files?

[2019-08-26 13:46] HIN0209 commented on #4
@faroit, thanks for the quick reply.
I changed the dataset to DCASE2018 (TUT-urban-acoustic-scenes-2018-development) that has identical length of audio files, instead of DCASE2013 containing variable duration. I added --seq-dur 3 --nb-channels 1 and it works! So the duration of data files appears to be the case.

By the way, I commented out the two lines as suggested, but an error came that "pbar

[2019-08-26 13:53] faroit commented on #4
Sorry I pointed to two lines, I meant just [L63](https://github.com/sigsep/open-unmix-pytorch/blob/a41e6a9efda146dc8d3d64def7281a6e3e68cda3/train.py#L63)

the loss values are written in the json files and can be easily plotted with your own code such as

[code]

Currently we don't plan to make tensorboard support to keep the code small and lean.

Augmentation is always applied to all samples. So y

[2019-08-26 21:50] HIN0209 commented on #4
Thank you again.!!

[2019-08-26 21:50] #4 closed

[2019-08-28 07:35] agangzz commented on #3
My system: Ubuntu 16.04, one GTX1080Ti, CUDA9, 32 core CPU, pytorch 1.1.0

[2019-08-28 07:43] agangzz commented on #3
My system: Ubuntu 16.04, one GTX1080Ti, CUDA9, 32 core CPU, pytorch 1.1.0

@faroit When I set 16 workers, 16 bath-size, and use wav files and FixedSourcesTrackFolderDataset for my datasets (other setting is defaul), then, I get to 2 seconds per batch,  and 50%~60%  gpu utilisation

It seems that the dataloading process is still a bottleneck in my training.

[2019-08-28 07:54] faroit commented on #3
is this with `--random-track-mix`? Because in that case it still be very slow, indeed.

* instead of running `train.py` you can also just run `data.py` with the same parameters to get the raw loading speed without the model.
* then, did you monitor the utilization? is it constant at 50%/60%? in that case, the LSTM might be another bottleneck
* You may want to try less workers as you are probably h

[2019-08-28 11:09] agangzz commented on #3
Thanks for your prompt reply.

yes, random-track-mix = False

I will try it later.

I haven't monitor the utilization, and it isn't constant at 50%/60%, sometimes is 0%

it seems 4 workers is faster than 16 workers in my machine.

I have sucessfully install torchaudio, but it cost me more than 4 hours. But I found the load speech of torchaudio is similar like soundfile

until now, it seems that th

[2019-08-28 11:13] agangzz commented on #3
@faroit Thanks for your kindly reply.

yes, random-track-mix = False

I will try it later.

I haven't monitor the utilization, and it isn't constant at 50%/60%, sometimes is 0%

it seems 4 workers is faster than 16 workers in my machine.

I have sucessfully install torchaudio, but it cost me more than 4 hours. But I found the load speech of torchaudio is similar like soundfile

until now, it seems

[2019-08-28 11:25] faroit commented on #3
yes, its quite a challenge :-/
They are in the process of building conda packages so things might get better on that front.

Doing the augmentations on the fly (and therefore loading the original sources) is a really tricky to make it faster.

* you can of course use the `AlignedDataset` which just loads `mixture.wav` and `target.wav`, therefore reducing the number of loads significantly
* another

[2019-08-28 20:09] matangover opened #5 "STL2 did not use additional training data"
The main page says STL2 isn't included in the comparison because it used additional training data.
According to [this page](https://github.com/sigsep/sigsep-mus-2018/blob/master/submissions/STL2/description.md), STL2 (multi-instrument Wave-U-Net) didn't use additional training data. Which one is right? I think the confusion arose because STL1 does use additional data (CCMixter).

cc: @f90

[2019-08-28 20:16] faroit commented on #5
interesting. I probably misread the paper then. If @f90 confirms this, I am happy to update the plot

[2019-08-29 13:36] faroit commented on #5
:+1: I updated the plot in the readme

![boxplot_updated](https://user-images.githubusercontent.com/72940/63944652-3f624c80-ca72-11e9-8d33-bed701679fe6.png)

[2019-08-29 13:36] #5 closed

[2019-08-29 14:18] matangover commented on #5
Thanks for the quick responses. Your work is super impressive.

[2019-09-02 15:42] hagenw opened #7 "Hardware requirements for test"
## 🐛 Bug

It seems to be relatively easy to get out of memory for the first example provided in the `README` on the GPU. Maybe it would be nice to add some hardware requirements or estimation how much memory you need per second of input signal.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Environment

Please add some information about your environment

 - Any other relevant infor

[2019-09-02 15:50] faroit commented on #7
Are you sure that it's hitting the memory error on the GPU? To me, it looks like it is Norbert (meaning the wiener filter). Can you try running the same example with `--niter 0` on the same machine?

[2019-09-02 15:54] hagenw commented on #7
You are right, I get the same error on the CPU:
[code]

I tested with `--niter 0` and it worked, thanks.

I have 16GB of RAM which seems to be reasonable, so maybe you add the `--niter 0` hint to the first example as well?

[2019-09-02 16:03] faroit commented on #7
Interestingly, .I tried to run the same example on my laptop (OSX, 8GB of RAM) and it worked fine (with some swapping).

in any case I will add a note in the readme. We also plan to improve the RAM usage of norbert soon, maybe you are interested in helping out?

[2019-09-02 16:06] hagenw commented on #7
I have to admit, I'm using 6GB by other programs, so it's not really 16GB  available here ;)

I would love to work a little bit more on source separation at the moment, but I'm afraid I will not really have time this year.

Feel free to close this issue, after adding a comment to the README.

[2019-09-03 02:34] aadibajpai commented on #7
Can confirm, I have a server with 16GB ram out of which 14GB was available when executing.
It was always getting killed when I executed just `test.py` but worked with `--niter=0`.

I was wondering if that significantly affects the quality of the output? If not then maybe it could be made the default?
[code]

[2019-09-03 03:50] aadibajpai opened #8 "Save pre-trained model if loaded from torch hub"
## 🐛 Bug

If the model hasn't been manually downloaded then the default umxhq model from torch hub gets downloaded every time.

## To Reproduce
1. Run umx on two files one by one
1. Model downloaded twice

## Expected behavior
If downloading then it should be saved so as to not download everytime

[`torch.hub.set_dir`](https://pytorch.org/docs/stable/hub.html#torch.hub.set_dir) could be set to `mo

[2019-09-03 06:55] aadibajpai commented on #8
Since it is saved in the cache:
[code]
it might not be reloaded in the same session but it would be nice to have it persist.

[2019-09-03 07:54] faroit commented on #8
I can't reproduce this. The models always are downloaded to the cache folder and it was always able to load them from there later. I also observed this in the colab notebooks.
Also the pytorch documentation states "By default, we don’t clean up files after loading it."
If this doesn't work as expected, I think this should be addressed by pytorch and you might want to submit an issue over there.

M

[2019-09-03 07:57] faroit commented on #7
yes. The difference on MUSDB18 is about 0.3 dB SDR (vocals), which is significant, so we want keep the wiener filter in the post-processing by default.

I will add a comment in the docs/readme as proposed by @hagenw. Also I think it makes sense to add a `start` and `duration` argument to the separation function, allowing to crop the input, thus saving memory.

[2019-09-03 20:37] aadibajpai commented on #8
I was thinking instead of defaulting to the cache it might be better to explicitly save the model in a folder in the same dir, using `torch.hub.set_dir` or similar. IMHO that's more robust than relying on a cache that may or may not be persistent.

[2019-09-03 20:40] aadibajpai commented on #7
That's a lot, in that case, do you know why it fails on decent specs? Also, when talking of SDR/SAR/SIR values, higher is better, right?

That's fair enough but maybe not very useful when you need to work with full length tracks (such as in my case)

[2019-09-03 20:41] aadibajpai commented on #7
That's a lot, in that case, do you know why it fails on decent specs? Also, when talking of SDR/SAR/SIR values, higher is better, right?

That's fair enough but maybe not very useful when you need to work with full length tracks (such as in my case)

[2019-09-03 20:43] aadibajpai commented on #7
That's a lot, in that case do you know why it fails on decent specs? I'm very impressed by the results with `niter=0` so can only imagine how well it would work with it. Also, when talking of SDR/SAR/SIR values, higher is better, right?

That's fair enough but maybe not very useful when you need to work with full length tracks (such as in my case)

[2019-09-03 22:31] aadibajpai commented on #8
Works.

[2019-09-03 22:31] #8 closed

[2019-09-04 18:49] aliutkus commented on #7
I modified the norbert package through [this](https://github.com/sigsep/norbert/pull/25#issue-314171593) pull request

this should make the memory usage smaller
@hagenw could you try it again with the new norbert ?

[2019-09-05 01:52] aadibajpai commented on #7
worked!

[2019-09-06 14:01] aadibajpai opened #9 "Using umx programmatically instead of via cli."
I'm actually going to use it in another script but there's some pre-processing before the `separate` function gets called in `test.py` (the part after `if __name__ == '__main__'`).

I wrapped it up in a whole function and was wondering if that's a good approach?

Like,
[code]

and then at the end call it by
[code]

This doesn't change the cli functionality but allows me to import the main function

[2019-09-06 14:20] faroit commented on #9
thanks for the suggestion. We actually thought about this before as well. I agree, that this might be helpful when using open-unmix programmatically but we think this should be better suited in a separate python package that is installable via pip. We prepared that already but it can't be released as long as the stft of pytorch (1.2) relies on MKL that only ships via conda. Furthermore, if you use

[2019-09-09 04:39] aadibajpai commented on #9
Well, for my use case umx is just step 1 in a longer series of processing so I mainly want to work with something right out of the box. I don't really know enough about audio loaders to tinker with that, so the best and easiest thing for me until the python package comes along would be to call that main function from another script with the required parameters like I am doing now from my fork. I a

[2019-09-09 08:17] faroit commented on #9
@aadibajpai okay, I see. Then maybe we make this change until the python package is ready and then decide again. Would you like to provide a PR?

[2019-09-09 08:19] faroit commented on #3
@agangzz is there anything that can be done here? If not, would you suggest to add more info from this discussion into the [FAQ](https://github.com/sigsep/open-unmix-pytorch/blob/master/docs/faq.md)? If not, I think this could be closed.

[2019-09-09 08:19] faroit commented on #7
@hagenw did you had time to test this on your machine?

[2019-09-09 08:20] hagenw commented on #7
It's working for me now.

But I agree that it would be nice to have something like `start` and `duration` arguments. Or maybe the possibility in the long run to integrate some block-processing internally.

[2019-09-09 08:42] faroit commented on #7
@hagenw have a look at #10 and feel free to review that one.

For bidirectional models that would reduce the performance significantly. Do you think an overlap-add would be sufficient here for test time?

In any case, the unidirectional model would not suffer from that.

[2019-09-09 08:56] aadibajpai commented on #9
Works. Sure, I'll start a PR.

[2019-09-09 10:36] FSharpCSharp opened #11 "A few questions regarding audio separation in general and going by this model"
I find the concept here very interesting, because it illustrates quite well the possibilities of today. But the last few days I've been thinking about something that I'd just like to ask because I don't have the background knowledge. I hope that you as experts can give me some information. Here the thoughts are summarized:

Let's assume the following case: I have two signals that I want to separat

[2019-09-09 10:50] aliutkus commented on #11
Hello,

I do not think this is an issue of open-unmix and this issue should be closed.

@faroit  maybe we could have some place for open discussions that would be more appropriate ?

@FSharpCSharp  concerning your question, this separation scenario is definitely beyond the usecase considered by this model, although it is definitely interesting. Separating signal with the same background music has

[2019-09-09 11:04] FSharpCSharp commented on #11
Thanks for the super-fast answer! I am very well aware that the current model is not supported, or would be so easy to implement.

Can you please give me some more information about the studies you mentioned? That would be very interesting. If someone has ever thought about this topic, it would be interesting to see what approaches are available.

Just to say that: This is just a fantasy, which ca

[2019-09-09 11:58] aliutkus commented on #11
1. Wouldn't it be ok to have a speech/music separation system in your case ?
2. You would like to use big data trained on one particular music event to be used on the same music event, or would you more generally train a method that is able to extract the interferences from an arbitrary number of occurrences of some given music signal perturbed by many different interferences ?

[2019-09-09 12:58] FSharpCSharp commented on #11
@aliutkus
1. does that work in this case with the voice/music separation? In contrast to the "normal" voice/music separation, I have different level ratios between music and speech. In this concrete example, the speech is disproportionately loud. I have a mixing ratio of approx. 2/3 speech to 1/3 music, can also be 1/2 to 1/2, but usually the speech is overpresent in the entire application cases.

[2019-09-10 07:53] aliutkus commented on #11
It's ok, the topic is a bit hard to get into anyways, that's normal.

for 1., I think it's totally ok to train an open-unmix model with speech and music, using custom random gains for training to match testing conditions for which the speech will be very loud.

Then, your general problem has actually been already the topic of some research. It is usually referred to as: "common source separation".

[2019-09-11 05:50] FSharpCSharp commented on #11
Thank you very much for your answer. Yes, that sounds really very interesting and the linked study even hits my case very well! It's comparable in a way. It's a shame that no one else has dealt with it anymore. Maybe the topic should be revived. I will think about it. It would also be nice if @jjburred  could get in touch for this. Maybe there is already some source code of this model, which could

[2019-09-11 05:50] #11 closed

[2019-09-11 09:48] jjburred commented on #11
Hi @FSharpCSharp , and thanks for the mention @aliutkus ! Yes, I think that 2011 paper of ours corresponds to the use case you're looking for. The paper says it's for dialogues in different languages, but that's only the application we were working on at the time, it will also work for any set of speech signals (or any other type of signals for that matter) mixed with a common background signal. I

[2019-09-11 11:01] FSharpCSharp commented on #11
@jjburred
Thank you very much for the quick and friendly answer! I am happy to be given the opportunity to briefly ask the author of this studies a few questions. Don't worry, I'll be brief.

I have now read both studies with interest and indeed see my scenario covered quite well. What I asked myself now is, how much effort would it take from your point of view to implement this algorithm (especia

[2019-09-14 21:24] RomanScott opened #13 "Cuda Out of Memory Error on Longer Files"
## 🐛 Bug

Hello,

I am trying to test out the **torchfilters** branch of this project. It works fine on shorter audio clips, but when the audio file is around 4 to 5 minutes in length, the program crashes with a CudaOutOfMemoryError.

## To Reproduce

Steps to reproduce the behavior:

1. Run test.py on a music file about 4 or 5 minutes in length.

[code]
## Expected behavior

The program should fi

[2019-09-14 21:27] faroit commented on #13
dev answer: torchfilter is a work-in-progress branch. Please only report issues on the master branch.

researcher answer: chunking can be implemented but would decrease performance for the BLSTM model. Instead you would be better off to retrain a model using `--unidirectional` which offers realtime capabilites.

[2019-09-14 21:27] #13 closed

[2019-09-15 07:04] aliutkus commented on #13
please note that I don't think there is a way that it will work on full tracks with a 6GB GPU. I am testing with 12GB and it's all right (up to roughly 6-7mn). Although we are doing our best to optimize memory usage, these complex double spectrograms do take a lot of RAM and there's nothing to do about it.

Unless you do learn an online model with a unidirectional LSTM as suggested by @faroit

[2019-09-15 09:23] aadibajpai commented on #13
Does a unidirectional model reduce performance?

[2019-09-15 09:28] faroit commented on #13
yes, for vocals it might up to 0.5 dB SDR. For drums or bass its not that important, though.

[2019-09-15 09:39] aadibajpai commented on #13
I see, I'm mainly working with vocals and the master branch works even w/o cuda so no problem so far.

[2019-09-17 07:30] aliutkus commented on #9
@aadibajpai hi ! Could you tell me what you think of the solution in the [torchfilters branch](https://github.com/sigsep/open-unmix-pytorch/tree/torchfilters) ?

[2019-09-18 20:57] tommy-fox opened #14 "Obtaining weights for streaming implementation"
I'm interested in implementing a real-time, streaming version of the separation method.

Do you have any advice on how to extract the model weights for this?

Would it be best to retrain, and save the weights during training?

[2019-09-18 21:01] aadibajpai commented on #14
This might be of help to you, https://github.com/sigsep/open-unmix-pytorch#bidirectional-lstm

[2019-09-19 12:11] mstfc opened #15 "The detail procedure to reproduce the evaluation results of UMX pre-trained model"
Hi Sirs,

I'm new to UMX. I tried to reproduce the fantastic results that you made on the website.
I use only umx vocals-c8df74a5.pth to do evaluation (eval.py) with MUSDB18 testset (50 songs)
Here is my result :
UMX1    accompaniment  ISR       18.950225
                                          SAR       12.290675
                                          SDR       11.881972

[2019-09-19 12:37] aliutkus commented on #15
My guess is that you should be using all targets for estimation, even if you only keep the vocals in the end. Indeed, if you only use vocals, it will use some spectral subtraction to get an estimate for the accompaniment, which is worse than using the dedicated DNNs.

Please try again with all targets !

best

antoine

[2019-09-20 02:46] mstfc commented on #15
Hi Antoine,

Thanks for the quick reply.
I know the substraction part and understand your point (you can see I olny mentioned vocals).
Will the result of vocals model be affected when I only use pre-trained vocals model?

And sure, I'll try all targets again (on-going, need 9 hours..@@) and update the results then.

BRs,
mstfc

[2019-09-20 03:19] aliutkus commented on #15
yes, the results will be modified
please let me know

thanks

[2019-09-21 08:25] mstfc commented on #15
Hi,

As your suggestion, I can reproduce the results :
Aggrated Scores (median over frames, median over tracks)
vocals          ==> SDR:   6.319  SIR:  13.329  ISR:  11.930  SAR:   6.515
drums           ==> SDR:   5.731  SIR:  11.117  ISR:  10.513  SAR:   6.023
bass            ==> SDR:   5.234  SIR:  10.927  ISR:   9.266  SAR:   6.338
other           ==> SDR:   4.020  SIR:   6.593  ISR:   9.312  S

[2019-09-21 08:25] #15 closed

[2019-09-21 15:26] aliutkus commented on #14
@aadibajpai thanks for providing this link.
we indeed do not release weights for a forward LSTM network. However, as mentioned in the doc there, it is possible to train open-unmix for this.
we would be happy to reference your implementation.

does these solve the issue?

best,

A.

[2019-09-26 03:29] ujscjj opened #16 "Confusion about 'vocals SDR'"
Dear Sir or Madam,
 Hello. Thank you for your sharing firstly.
 I run your codes only for separating 'vocals' according to your .md file.I get Aggrated Scores
vocals   ==> SDR:   5.415  SIR:  10.950  ISR:  14.831  SAR:   5.533, which is quite different from the ideal result.
 Could you please tell me something wrong? What should I do to reproduce your results. By the way, I use the dataset musdb18

[2019-09-26 04:28] aadibajpai commented on #16
https://github.com/sigsep/open-unmix-pytorch/issues/15 please refer to this

[2019-09-26 06:01] ujscjj commented on #16
Got it. Thank you very much.

[2019-09-26 06:47] #16 closed

[2019-09-30 12:53] tommy-fox commented on #14
That is very helpful, thank you! I will let you know how it turns out.

Tommy

[2019-09-30 12:53] #14 closed

[2019-10-01 08:21] faroit commented on #7
`start` and `duration` have been merged in #10

@hagenw can this be closed?

[2019-10-01 08:21] faroit commented on #3
@agangzz can this be closed?

[2019-10-09 16:37] loretoparisi opened #17 "[Question] About mp3 input files"
I have MP3 files at 128  kb/s like

[code]

and I therefore converto to wav so that I get the a 22050 Hz file as for the dataset specification:

[code]

The separation works, my guess is if this is the best approach from the given mp3 sample rate and bit rate.
Thank you.

[2019-10-09 17:09] faroit commented on #17
1. Is this a documentation issue? If yes, please provide a pointer where to extend the documenation.

2. `umx` and `umxhq` are trained on 44100 kHz, so I would suggest to not resample the file. In any case `test.py` is automatically doing this resampling. We plan to support mp3s by using torchaudio to load the test files. So conversion would be just temporarily.

[2019-10-10 07:09] loretoparisi commented on #17
@faroit thank you.
1. Well if it makes sense it could be some more docs about mp3 input.
2. Ok, in the meanwhile I will use the conversion.

[2019-10-10 07:09] #17 closed

[2019-10-10 17:12] LOGUNIVPM opened #18 "Audio tracks availability"
Hello,
is the dataset available as audio tracks for other projects? If so, under what terms?

Best regards

[2019-10-10 17:27] aadibajpai commented on #18
Looks like the licensing is different per track depending on the original source, you can find in-depth breakdown here (of the MUSDB18) https://github.com/sigsep/website/blob/master/content/datasets/assets/tracklist.csv

And an overview here https://sigsep.github.io/datasets/

[2019-10-10 17:33] faroit commented on #18
As long as you are using it for non-commercial applications the full musdb18 set can probably be used

@aliutkus is that right?

[2019-10-10 17:37] loretoparisi opened #19 "About PyTorch Mobile"
## 🚀 Model Improvement

Facebok has just announced [PyTorch Mobile](https://pytorch.org/mobile/home/) for both iOS and Android devices in PyTorch 1.3. They run new quantization algorithms (FBGEMM and QNNPACK state-of-the-art quantized kernel back ends) for this mobile version.

## Motivation

Having a quantized model running on the device would be an interesting challenge.
It would be interesting

[2019-10-10 17:43] faroit commented on #19
That's awesome. Will have a look soon

[2019-10-11 05:19] aliutkus commented on #18
I would actually say that you are safe using them as long as it's for __research and educational purposes__, which is the original reason why they are online.

For any other use, I guess it would be necessary to get individual approval by the authors of each track

[2019-10-11 05:19] aliutkus commented on #19
pretty neat indeed

[2019-10-11 07:47] faroit commented on #19
this is all based on libtorch and we have to check which part of the code works with jit and would probably update those. Also it would make this based on the `torchfilters` branch since this one is the end-to-end model (including the torch istft). We could certainly need help on this one. @loretoparisi would you be available for help?

[2019-10-11 08:21] LOGUNIVPM commented on #18
I see, thanks. I'd just go and pick one of these datasets depending on licensing. My goal is to take a few multitrack examples for some class exercises in music production.

[2019-10-11 08:55] #18 closed

[2019-10-11 13:01] loretoparisi commented on #19
...and I call @shoegazerstella to help as well! So we can start having a look at `torchfilters`?

[2019-10-11 21:01] aliutkus commented on #19
of course, feel free to call for any help on the code. thanks a lot ! 🦸

[2019-10-22 11:31] #9 closed

[2019-10-22 20:05] faroit commented on #3
@agangzz feel free to reopen if you have some further comments

[2019-10-22 20:05] #3 closed

[2019-10-22 20:06] faroit commented on #7
@hagenw feel free to reopen if you have further comments

[2019-10-22 20:06] #7 closed

[2019-10-27 06:46] GrahamboJangles opened #24 "Training"
Hello,

I want to transfer-learn the default dataset on a dataset of my own (or just train my own dataset from scratch if easier). I have mixture.wav files and the wav files for the individual instruments as well. I want to be able to separate everything in the song. I have some questions, though:

1. What dataset type should I use for this application?

2. Does each individual song's wav files ne

[2019-10-28 13:49] faroit commented on #24
thanks for your interest in open-unmix.

that depends on the amount of tracks you have, hence if you would like to use augmentation techniques. If you have a larger amount of tracks (>100) with a fixed setup of sources, I would recommend with `trackfolder_fix`. In any case, if you want to fine-tune `umx` pretrained weights, you are bound to the four sources.  In that case, for a smaller amount you

[2019-10-29 19:45] GrahamboJangles commented on #24
@faroit - Thank you for your answers. I will try out the Colab notebook for training and if I have any problems will report back!

[2019-11-03 00:31] GrahamboJangles commented on #24
@faroit - In the Colab notebook you linked, does it only train for separating voice from audio? Or can I train it to separate stems like in the main Colab notebook?

Also, Is it okay if some song stems are empty? For example, I looked at the MUSDB18 dataset and it looks like the stems are separated by mix, drums, bass, melody, and vocals in the .mp4 files. What if some songs don't have a melody or

[2019-11-09 06:01] #24 closed

[2019-11-23 17:21] Vichoko opened #26 "Iterative usage lead to memory failure"
## 🐛 Bug

Possible memory leak produces OOM error on a minimal amount of memory allocation while using `separate ` functions in an iterative manner.

## To Reproduce
Get yourself with a set of 100 normal sized mp3 files and do this:

Steps to reproduce the behavior:

[code]

## Expected behavior

If the mp3 file and the model can fit in memory I hope it finishes without error.
If the mp3 and the m

[2019-11-26 22:35] faroit commented on #26
hi, sorry for the late response. Can you give some details about which function you call?

Also the example above contains an error since `file` is not defined. Maybe you can update that as well?

[2019-11-27 19:16] Vichoko commented on #26
Sure!

`files `variable contain a list of filenames, given by `os.listdir()`, for instance.
`
files = ['song1.mp3', 'song2.mp3', ... ]
`

The function I'm calling (sorry, i forgot it wasn't in this fork) is just a wrapper of `separate` function in `test.py` that loads the audio data from a file given by its path and calls `separate` function.
[code]

[2019-12-27 16:45] tommy-fox commented on #14
Hi, I just wanted to give you a quick update. I have a streaming version of Open-Unmix running, using unidirectional models for music (trained with MUSDB) and also speech. I will leave a link to the project at the bottom. I tried to cite your work properly but please let me know if I missed anything or if you'd prefer any changes to citation or otherwise.

Open-Unmix was a great help in my learnin

[2019-12-28 08:23] aliutkus commented on #14
that's great! do you want the sources for the figures so that you could mention a LSTM instead of a BLSTM ? we may reuse this and let you know how ut turns out.
what about performance? did you check the metrics you get?
talk soon

[2020-01-02 14:00] romanbsd opened #28 "output_mean should be zeros?"
https://github.com/sigsep/open-unmix-pytorch/blob/master/model.py#L187

I think that unless provided (no output scaling), output_mean should be torch.zeros() and not torch.ones()

[2020-01-03 22:58] faroit commented on #28
@romanbsd thanks for your comment. the output scaling are `nn.parameter` so they are trainable parameters. Therefore initialization with zero would not be useful.

Does that make sense?

[2020-01-04 13:57] romanbsd commented on #28
Oh, right.

[2020-01-04 13:57] #28 closed

[2020-01-12 22:18] romanbsd commented on #28
I'm new to pytorch, so maybe I misunderstand something here. But why are the input_scale and input_mean trainable?
And on the other note - would adding a bias to the last fully connected layer be enough to remove the output scaling? Both are trainable so the matrix multiplication there can accomplish the same, I think.
P.S. I'm currently playing with the similar architecture in Keras, trying to ma

[2020-01-16 16:22] loxosceles opened #29 "num_samples should be a positive integer value, but got num_samples=0"
I'm trying to use my own data for training with the **FixedSourcesTrackFolderDataset**. Unfortunatly, the data doesn't seem to be recognized or found by the dataloader. I am using normal wav files (not stems), organized in the following folder structure:

[code]

Next, I issue:
`python train.py  --root /path/to/dataset --dataset trackfolder_fix --target-file piano.wav --interferer-files cello.wav

[2020-01-27 12:36] faroit commented on #29
@loxosceles sorry for the long delay, I will look into it this week

[2020-02-19 14:15] ZyUestc opened #30 "A little bug in notation of definition of OpenUnmix"
[code]
input shape should be (nb_samples, nb_channels, nb_bins, nbframes, 2)
It will confuse to understand.

[2020-02-19 14:22] faroit commented on #30
yes, correct, feel free to add a PR to change the comment.

[2020-02-26 17:50] biboamy commented on #26
Hello, have you solved this problem yet? I encountered the same problem. I profile the memory usage and found it's caused by this line:
`Vj = unmix_target(audio_torch).cpu().detach().numpy()`
I test on CPU, in every iteration, it seems the memory won't be freed and the memory will accumulate. It will end up eating out the whole RAM. I tried a similar way to clean up the cache and disable gradient,

[2020-02-26 17:50] faroit commented on #26
@aliutkus can you look into this?

[2020-02-26 17:52] faroit commented on #26
@Vichoko @biboamy are you both on windows? I tried to reproduce this on OSX without success. Will check on linux later (not before next week)

[2020-02-26 22:58] biboamy commented on #26
Hello @faroit, I am testing on Linux. However, I eventually found that this is a bug caused by PyTorch. When testing on CPU, it doesn't handle the cache properly. Adding this line can help:
`LRU_CACHE_CAPACITY=1`
reference post: https://github.com/pytorch/pytorch/issues/27971
But thanks for the quick response!

[2020-02-29 11:55] eranmenachem commented on #29
@faroit
Is there any answer?
i ran into the same error with musdb stem dataset.

[2020-02-29 13:02] faroit commented on #29
@eranmenachem are you using the `FixedSourcesTrackFolderDataset` as well?

[2020-02-29 14:15] eranmenachem commented on #29
@faroit
No, i am using the following command (just to check that training of the musdb stem data set runs well, before i'll run training on combined data set of musdb and my own).
python train.py --root path/to/musdb18 --target vocals

where the <path/to/musdb18> is a path to a directory containings the train data set of musdb of stem files.

[2020-02-29 14:25] faroit commented on #29
@eranmenachem does training work with the 7s Previews? (Just omit the `--root` option). If that is the case, please compare  your folder structure of the 7s Preview to your downloaded dataset

[2020-02-29 14:57] eranmenachem commented on #29
it worked with the 7s Previews and it appeared to me that my downloaded dataset structure wasn't similar to the 7s Previews. I changed it accordingly and it works now.
Thank you very much!

[2020-02-29 14:58] faroit commented on #29
@eranmenachem 👍

[2020-02-29 15:00] faroit commented on #29
@loxosceles regarding your issue, can you check if the error happens with train and validation or with just one of it?

Also do you see any warnings raised by this part of the code?

https://github.com/sigsep/open-unmix-pytorch/blob/93077eb5cfdbce2a15ad61e6e9d9b1568e4f9168/data.py#L519-L521

[2020-02-29 15:53] eranmenachem commented on #29
The error was due to the fact that i had only one folder, of the training dataset in the <path to musdb>.
It worked when i put there another folder of the test dataset (in general two folders: train and test).

[2020-02-29 15:56] eranmenachem commented on #29
still struggling to enable my gpu during training so i didn't get yet these warnings

[2020-03-09 14:31] faroit opened #31 "Add simple way to fine-tune pretrained models"
The current training code does provide a way to fine-tune models given a checkpoint file. However:

* we do not provide the checkpoints on zenodo (that include the optimizer states)
* there is commandline interface option to load `umx` or `umxhq` pretrained models for training

[2020-03-10 10:12] faroit opened #32 "Add missing arguments to docs and inference"
* `--outdir` is not mentioned in the [inference](https://github.com/sigsep/open-unmix-pytorch/blob/master/docs/inference.md) docs

* `--samplerate` is not mentioned in the [inference](https://github.com/sigsep/open-unmix-pytorch/blob/master/docs/inference.md) docs

* `--nb_channels` should also be an argument for inference

[2020-03-10 10:26] faroit opened #33 "Improve dataset statistics for sourcefolder dataset"
## 🐛 Dataset Statistics do not work for `sourcefolder` dataset

The `get_statistics` function was designed to iterate over the complete audio data in an deterministic manner, therefore loading the full audio samples. This doesn't work together with the sourcefolder dataset as it allows to have different length of files as it get short chunks of fixed lengths from each item.

## Expected behavior

[2020-03-10 10:27] faroit commented on #33
ping @TE-StefanUhlich

[2020-03-10 10:51] faroit commented on #29
@eranmenachem can this be closed?

[2020-03-10 13:56] eranmenachem commented on #29
yes, thank you!

On Tue, Mar 10, 2020 at 12:51 PM Fabian-Robert Stöter <
notifications@github.com> wrote:

[2020-03-10 15:03] TE-StefanUhlich commented on #33
I think I would go for the first solution and additionally set the following:

[code]

Then we extract random chunks (random start positions) and it would still be deterministic because we use the dataset in `valid` mode.

[2020-04-02 11:07] faroit opened #34 "Improve vocal-accompaniment separation without wiener filter"
## 🚀 Model Improvement

In the vocal/accompaniment scenario, separating with `--niter 0 --residual` gets only to 3.9 dB SDR for vocals, whereas with the `--niter 1` the scores get up to 6.0.

## Motivation

The scores without wiener filtering should only be slighly worse than with.

[2020-04-03 17:09] eranmenachem opened #35 "GPU Utilization too low"
Hi,

I use Open-Unmix training on my data set (includes MUSDB stem version + other) and it took place on Nvidia RTX2080 cards without SSD and without nb workers.
My GPU utilization as i see it with the command "nvidia-smi" is 2%-11% (Cuda is enabled and got print  GPU usage True, though Torchaudio usage is False).
However in you're description about the training process, you mentioned that your GP

[2020-04-04 02:48] faroit commented on #35
Hi, the reason for low gpu utilization most likely comes from the dataloading when using stems. It is highly suggested to use WAV files for training:

- either by using `musdbconvert` as part of the the musdb package
- by downloading musdb18-hq https://zenodo.org/record/3338373#.XofsYmSxWN4

Then, even when using WAVs, the dataloading is quite expensive as the mixing of the sources takes part on-t

[2020-04-04 11:59] eranmenachem commented on #35
Can musdbconvert be used on stem dataset that is not musdb dataset?
Actually I already tried to use it but with not much success. If so then i'll dive to it again.

[2020-04-07 08:44] faroit commented on #35
As  long as you have the same targets (vocals, drums, bass, other) the script should be able to do the conversation.

See the code here https://github.com/sigsep/sigsep-mus-db/blob/master/musdb/tools.py

[2020-04-09 15:46] eranmenachem commented on #35
It worked. Thanks!

[2020-04-17 08:09] HusseinYoussef opened #36 "Linear Mix ?"
is working on the linear mix that is computed by summing the sources will yield the same results as working on the non-linear mix ?

[2020-04-17 08:17] faroit commented on #36
Hi. Is this questions related to the MUSDB18 dataset (where the we have a linear mix and a non-linear mix?)

Our Dataloader [assumes a linear mix by summing the sources](https://github.com/sigsep/open-unmix-pytorch/blob/master/data.py#L791), except for you provide your own mix using the [`AlignedDataset`](https://github.com/sigsep/open-unmix-pytorch/blob/master/data.py#L237).
We have not carried o

[2020-04-17 08:27] HusseinYoussef commented on #36
Yes for the MUSDB18 dataset. Why then use the non-linear mixes for evaluation for MUSDB18?
would it produce totally different model if the evaluation was on linear mixed ?

[2020-04-17 08:45] faroit commented on #36
the differences are very small and inaudible, as they only stem from the different mp4 compression and we decided to keep it this way to keep compatibility with older published metrics like in sisec18.

I don't understand this question. Evaluation with `museval` is done when the model is trained and fixed

[2020-05-03 21:02] #35 closed

[2020-05-16 21:18] HusseinYoussef opened #39 "Random Seeds"
What are the random seeds you used for the different targets?

[2020-05-17 09:55] faroit commented on #39
The final models were mix-and-matched from different runs - you can find the seeds in the [training logs on zenodo](https://zenodo.org/record/3370489/files/training-json-logs.zip).

[2020-05-17 09:55] #39 closed

[2020-05-17 09:57] faroit commented on #26
seems to be fixed in current pytorch master. Will close this when 1.6.0 was released and tested with open-unmix

[2020-05-17 09:57] #29 closed

[2020-05-18 15:56] sleglaive opened #41 "Sources with different numbers of channels for sourcefolder dataset"
## 🐛 Bug

First of all, I have to acknowledge the authors of open-unmix for this obviously awesome work ;)

My issue is about the sourcefolder dataset, which cannot handle sources with different numbers of channels. Let's assume that we have two folders of sources, the first one contains mono signals, the second one stereo signals. For training, we also set ```nb_channels``` to ```1```. In ```__ge

[2020-05-18 16:00] faroit commented on #41
Hi Simon, thanks for the issue. This is actually something that we could address as part of #33. I will leave this open until it's fixed.

Regarding a fix, do you agree that the downmix should be done in the magnitude spectrum domain?

[2020-05-18 16:12] sleglaive commented on #41
Hi Fabian,
Yes it seems ok to me. Naturally, I would have done the downmix in the waveform domain, but actually I guess you chose the magnitude spectrum domain to avoid phase problems? It is then a good idea, and maybe better than selecting only one channel.

[2020-05-19 18:18] mabushey opened #42 "Not really open, MUSDB18-HQ is not availiable"
I've tried numerous times to "Request access" from zenodo.org but they ignore my requests. My guess is you have to be an RIAA member to get access. Is there someplace to actually get this data? I have a good amount of separate track music I would like to augment MUSDB18-HQ with.

[2020-05-19 18:22] faroit commented on #42
Sorry for your bad experience with zenodo. Please send me a mail to offer you help.

As this issue seems not related to open unmix I close this

[2020-05-19 18:22] #42 closed

[2020-06-01 20:37] FBorgeat opened #43 "Availability on Android"
Hi, I just wanted to know if it's possible to use Open-Unmix on android via Pytorch, I know there is usage of Pytorch on Android for image processing but I haven't found any examples to help me use Open-Unmix on android.
.

[2020-06-01 21:15] faroit commented on #43
open-unmix can easily be exported using pytorch jit.  Here is an example how to export the vocal model for 5s stereo inputs:

[code]

from there on you can follow the example. Be aware that you have to code the pre- and post processing in Java or C++.

[2020-06-01 21:15] #43 closed

[2020-06-02 17:41] FBorgeat commented on #43
I'm basically doing it to cancel out a periodic tick noise, which i was told should be pretty easy.

[2020-06-02 18:13] faroit commented on #43
Ok but why do you need to run this on Android?

[2020-06-04 20:17] FBorgeat commented on #43
Is it actually possible to do it on a sound stream like and AudioRecord instead of a pre recorded file?

[2020-06-04 20:23] faroit commented on #43
It is possible to perform separation in real-time, yes (when using a uni-directional LSTM). See more information here: https://github.com/sigsep/open-unmix-pytorch/issues/14

[2020-06-04 20:39] FBorgeat commented on #43
Thank you for the quick response, so that issue on top of having to code the model application to the signal in java would be very difficult, I might need a simpler solution.

[2020-06-23 07:52] usasho opened #45 "I get an error What should I do?"
## 🐛 Bug

h$ python3 train.py   --dataset musdb
Using GPU: True
Using Torchaudio:  False
Traceback (most recent call last):
  File "train.py", line 294, in <module>
    main()
  File "train.py", line 158, in main
    train_dataset, valid_dataset, args = data.load_datasets(parser, args)
  File "/home/scss/DeepLearning/VocalEX/Separation/open-unmix-pytorch/open-unmix-pytorch/data.py", line 226, in l

[2020-06-23 08:16] faroit commented on #45
looks like you have an old version of `musdb` installed. Can you try again with updating your requirements to the one we have in the environment files?

[2020-06-23 08:25] usasho commented on #45
Thank you for your reply
MUSDB==0.3.0 but I get an error

[2020-06-23 08:29] faroit commented on #45
please check the environment files:

https://github.com/sigsep/open-unmix-pytorch/blob/ba8e9f1e968cf4725be02009dacd6e2b97b44a7f/environment-cpu-linux.yml#L19

[2020-06-23 08:31] usasho commented on #45
I downloaded it from the official website.
It was a new update
Sincerest apologies
Worked

[2020-06-23 08:42] faroit commented on #45
manually installing requirements is very risky. Please follow the [installation instruction](https://github.com/sigsep/open-unmix-pytorch#installation) in the readme.

[2020-06-23 08:42] #45 closed

[2020-06-23 08:45] faroit opened #46 "Refactor open-unmix as a package"
It seems that there is an interest to use just the pre-trained weights from open-unmix. To improve usability we will make open-unmix a pypi (and possibly conda-forge) package.

[2020-06-23 08:46] faroit opened #47 "Convert training model to pytorch-lightning"
[lightning](https://github.com/PyTorchLightning/pytorch-lightning) has matured enough to be used to refactor open-unmix.

[2020-06-25 07:52] faroit commented on #34
@aliutkus this is addressed in current `torchfilters`, right?

[2020-07-22 07:32] faroit commented on #33
@TE-StefanUhlich coming back to this:

that would work, but then we will use the validation set instead of the training set. Maybe we introduce a `deterministic` flag for all dataloaders instead of making this depend on `valid` vs. `train`?

[2020-07-22 07:36] TE-StefanUhlich commented on #33
Yes, this is better - then this feature is more visible to the user and we can also use it for the training set.

[2020-07-24 10:18] faroit commented on #41
@sleglaive coming back to this, I am not sure how this can be fixed at the dataloader stage, when `nb_channels=1` and a stereo file is loaded as we want the downmix to be done in the magnitude spectrogram domain. If we downmix in the waveform domain already the downmix in the spectrogram layer would never be called.

Instead, for heterogenous datasets, I would propose an `upmix_to_stero=True` swit

[2020-07-30 15:21] faroit commented on #41
@sleglaive this is now addressed by #56 and merged into the dev branch. Maybe you can comment on this before we release the new version

[2020-08-07 09:55] faroit commented on #47
lightning would significantly clean up the training code but when using learning rate scheduling and distributed training code from lightning, users won't be able to reproduce the current pre-trained models.

Since results are reported in publications, we want to reduce confusion, and therefore do not currently plan to retrain the model without major core changes. Hence, I propose to skip this fea

[2020-08-07 09:55] #47 closed

[2020-08-17 12:25] sleglaive commented on #41
@faroit sorry for the late reply, the solution you propose sounds great to me, thanks a lot!

[2020-08-17 12:35] faroit commented on #41
Great. I will close this when the dev branch is merged

[2020-10-06 12:48] mstfc opened #64 "A little confused while using istft in test.py"
Hi sirs,

Sorry to bother.
This is not a bug, but I don't know whom I can ask.

I have a question about using istft() in test.py.
`def istft(X, rate=44100, n_fft=4096, n_hopsize=1024):
    t, audio = scipy.signal.istft(
        X / (n_fft / 2),
        rate,
        nperseg=n_fft,
        noverlap=n_fft - n_hopsize,
        boundary=True
    )
    return audio`

Why does the input data "X" need to

[2020-10-06 13:50] mstfc commented on #64
Hi @faroit,
Thank you so much for the quick response.
You mean the hann window generation is different or something else?
I cannot understand the term "do not use the same window normalization".
Did you mean the square window denominator?

[2020-10-06 14:04] faroit commented on #64
I can't remember the exact difference but I think it was the same as scipy vs librosa https://gist.github.com/746e572232be36f3bd462749fb1796da

@bmcfee

[2020-10-06 14:23] mstfc commented on #64
Hi @faroit , @bmcfee ,
Very clear, thanks a lot!

[2020-10-06 14:23] #64 closed

[2020-11-30 22:20] faroit opened #69 "Train single channel model using left or right channel"
Currently using `train.py --nb-channels 1` will apply a downmix in the spectral domain inside the model to feed in only single channel audio.

However, I can think about applications where we do not have access to a wiener filter and therefore apply the model to each channel individually. In that case the performance might be better when the model was trained on just the left or the right channel.

[2020-11-30 22:20] faroit commented on #69
@aliutkus you agree?

[2020-12-01 07:15] aliutkus commented on #69
Provided default is channel swap in that case, yes

[2021-01-11 17:21] ItId123 opened #73 "Input-stage standardization"
## 🐛 Bug

Hi,
Sorry for the bother. I have a basic question about the input-stage standardization.

After the STFT transform the model does:
x += self.input_mean
x *= self.input_scale

and the same, with the opposite order in the output-stage
x *= self.output_scale
x += self.output_mean

I'm wonder about the input stage part, if we want the normalize the spectrogram to be a zero-mean and with STD

[2021-01-11 19:00] faroit commented on #73
@ItId123 you are absolutely right, and the way we do it as a bit hidden:

https://github.com/sigsep/open-unmix-pytorch/blob/e6e79ef565d15f3ee4d1d791ecbbc780cbee7d6a/model.py#L166-L178

the reason we use addition and multiplication is that this results in slightly better numerical stability when it comes to small values. I hope this helps

[2021-01-11 20:56] ItId123 commented on #73
Hi @faroit ,
Thank you very much for the quick response.
That's answer my question.

Thank you!

[2021-01-11 20:56] #73 closed

[2021-01-20 14:34] faroit commented on #28
we got better results with them being trainable. However you might as well look into LayerNorm or other batch-norm flavors to get similar results.

you are totally right about this. this only makes up for a very slight difference and you can replace that as well. We ended up doing it that way because it allows to change the model at inference time an keep the stanardization/de-standardization in-p

[2021-01-20 18:23] rainOutside commented on #28
@faroit Thanks a lot!

[2021-01-26 03:29] MaxGodTier opened #75 "Does bandwidth extension even exist as a feature?"
Your training docs mention that an aligned dataset can be used for Bandwidth Extension (Low Bandwidth -> High Bandwidth) as mentioned [here](https://github.com/sigsep/open-unmix-pytorch/blob/master/docs/training.md#aligneddataset-aligned).
Previously I have trained models for Source Separation (Mixture -> Target) and Denoising (Noisy -> Clean) and they're working as intended.
But training for Band

[2021-01-26 04:47] aliutkus commented on #75
it looks to me that bandwidth extension does not really exist as a builtin feature, since open-unmix is filtering the input spectrogram.

hence, If you have zeros in the high frequencies, it will return zeros.

Still, you could probably try some things based on noise shaping: inputing low frequencies and predicting some mask to apply on some additive noise to build back the original HR audio. But

[2021-01-26 06:59] faroit commented on #75
@MaxGodTier Maybe the docs are missleading here? What we meant is that the AlignedDataset can be use for the BWE tasks... the model itself isn't that suitable since it doesn't handle complex spectrograms.

Even though I remember that I did train BWE on music to see if it works with umx and I got non-zero magnitudes - contrary to the plot you linked above...did you make sure in  your experiments th

[2021-01-26 07:50] MaxGodTier commented on #75
@faroit Yes, I always made sure to set that flag according to the dataset's samplerate, that error output you're seeing was when I experimented (as a last resort) with source at 22050 and target at 48000, I had previously trained the model with both target and source at 44100, I understand now that bandwidth extension isn't a built in feature, so time to look for alternatives, thank you for your a

[2021-02-14 21:11] #75 closed

[2021-02-14 21:12] #46 closed

[2021-02-14 21:12] #41 closed

[2021-02-14 21:13] #33 closed

[2021-02-14 21:13] #34 closed

[2021-02-14 21:14] faroit commented on #30
addressed in #49

[2021-02-14 21:14] #30 closed

[2021-02-14 21:15] #26 closed

[2021-02-14 21:15] #32 closed

[2021-02-16 16:45] ethman opened #78 "README News links 404"
Hey OpenUnmixers!

I'm excited about all of the great work you've been doing! Congrats on the latest releases! :D

I just wanted to point out that two links under the News Section of your README are 404'ing:
- The "Release Notes" link in the `14/02/2021` update goes to https://github.com/sigsep/open-unmix-pytorch/blob/master, which gives me a github 404.
- The link to the Speech Enhancement model

[2021-03-11 14:35] faroit commented on #78
thanks ethan, updated the links!

[2021-03-11 14:35] #78 closed

[2021-04-12 13:12] faroit opened #80 "Fix augmentation with multiple workers"
we made a mistake like a lot of other repositories in the data augmention engine
https://tanelp.github.io/posts/a-bug-that-plagues-thousands-of-open-source-ml-projects/

## To Reproduce

set nb_workers to a value higher than 1 to have identical seeds in each worker.

## potential fix

Fix is given in the blog post. And also here: https://github.com/pytorch/pytorch/issues/5059#issuecomment-81739256

[2021-04-23 23:56] CanKeles5 opened #82 "Cant load dataset"
## 🐛 Bug

When I run train.py with a custom dataset, the dataset doesnt load and I get the error: "IndexError: Cannot choose from an empty sequence". When I print the length of the dataset I get a non zero value.

This is the command I use to run the train.py script:
"! python train.py --dataset sourcefolder --root /content/data --target-dir gt--interferer-dirs interfer --ext .wav --nb-train-sampl

[2021-04-24 08:44] faroit commented on #82
@CanKeles5 can you show the structure of your dataset?

[2021-04-24 10:01] CanKeles5 commented on #82
This is the folder structure of my dataset.

Folder PATH listing for volume Data
Volume serial number is F681-E76E
D:.
+---train
|   +---gt
|   \---interfer
\---valid
    +---gt
    \---interfer

[2021-05-07 12:13] sevagh opened #83 "[Question] Ideal/oracle performance of source estimate + mix phase"
Hello,
I've been interested in running various oracle benchmark methods to check if different types of spectrogram (CQT, etc.) can be useful for source separation.
Initially, I was working with the IRM1/2 and IBM1/2 from https://github.com/sigsep/sigsep-mus-oracle

However I noticed that Open-Unmix uses the strategy of "estimate of source magnitude + phase of original mix" (but it has an option to

[2021-05-07 16:23] sevagh commented on #83
OK, it seems to be working. Here's a piece of code, hacked together from https://github.com/sigsep/sigsep-mus-oracle/blob/master/IRM.py and unmix:

[code]
The maximum SDR of the "oracle mix phase" is lower than soft masking. Is that expected?

[2021-05-07 19:36] aliutkus commented on #83
it's a very interesting idea, I like it

could you provide numbers ? how is it behaving compared to the other oracles ?

[2021-05-07 22:14] sevagh commented on #83
It's pretty underwhelming. Here is an evaluation of 4 tracks from the MUSDB18-HQ test set, with IRM1, IRM2, IBM1, IBM2, and the new one, "MPI" (Mixed Phase Inversion), with the Open-Unmix STFT settings (window = 4096, hop = 1024):
![image](https://user-images.githubusercontent.com/8574092/117513579-00cba780-af60-11eb-97fc-ca56416a812e.png)

[2021-05-08 17:12] sevagh commented on #83
Here: https://github.com/sevagh/mss-oracle-experiments#oracle-performance-of-mpi-mix-phase-inversion

Apologies if there is a lot of irrelevant code (related to the NSGT), but I hope the specific part of the new "Mixed Phase Inversion" oracle makes sense and is reproducible.

[2021-05-09 14:04] sevagh commented on #83
Also, I suppose SDR is not necessarily the king of metrics - we can see dramatically better ISR on the mix-phase (but that could be a consequence of its reduced separation/SDR/SIR/SAR).

[2021-05-14 18:37] sevagh opened #84 "Typo in README - input tensor shape of OpenUnmix"
Hello,
I believe the true input shape of OpenUnmix (the spectrogram model, not the on-the-fly waveform one) is this, taken from the code:
[code]
This corresponds to the `(I, F, T)` that I've seen in the oracle code (I = channels, F = frequency bins, T = time frames).

The README describes the shape in a different order:

[2021-05-15 13:45] sevagh commented on #84
Huh, in fact the code right after says:
[code]
So I think the documentation block of the code might need adjusting.

[2021-05-15 18:26] faroit commented on #84
yes, `nb_samples, nb_channels, nb_bins, nb_frames` is correct. Feel free to open a PR to correct the readme – we changed this in the recent model.

[2021-05-16 13:02] faroit commented on #82
I tried to reproduce the issue. For me `sourcefolder` works fine. Can you share more details?

[2021-06-04 18:07] sevagh opened #85 "Set default augmentations"
I'm trying to train open-unmix from scratch. The validation losses after early stopping patience are not as good as what's shown in training.md: https://github.com/sigsep/open-unmix-pytorch/blob/master/docs/training.md

I'm using the exact open-unmix-pytorch codebase with no modifications. My training script is:
[code]
So far, drums and vocals have trained to the following lowest validation loss:

[2021-06-04 20:07] faroit commented on #85
@sevagh yes, we used a large number of seeds to actually get values that low. Also this was trained with an older version of pytorch with many changes since then. If you really need to reproduce the numbers you would maybe have to got to the older release..

[2021-06-04 20:36] sevagh commented on #85
I am using the conda script included in the repo, so ideally torch versions shouldn't be an issue.

[2021-06-04 20:58] faroit commented on #85
okay, but it was actually trained using this code: https://github.com/sigsep/open-unmix-pytorch/tree/v1.0.0 so you would need to install the env from that commit (again – if you really want to exactly reproduce the training)

[2021-06-04 21:37] sevagh commented on #85
Oh, nice. Can you also confirm what the random seed affects? To me, it looks like the primary use is in the data classes, to randomly select sequences of tracks for training.

So, choosing a good seed can allow the network to learn from better training examples?

[2021-06-07 19:58] faroit commented on #85
@sevagh tried to reproduce the issue and I can confirm that at least just using the same seeds won't give you the same results as the published models. One reason can obviously be the many changes we have done for version 2 – these will be hard to spot though as they could also stem from changes in pytorch.

I will investigate with more training runs...

[2021-06-09 21:54] sevagh commented on #85
Can it be because I don't use source augmentations?
The training.md doc claims that source augmentation were used, but the script default is no augmentations.

[2021-07-01 20:41] faroit commented on #85
yes, these are pretty important. I hope you figured this out in the meantime

[2021-07-01 20:41] #84 closed

[2021-07-01 20:41] faroit commented on #82
@CanKeles5 can this be closed?

[2021-07-01 20:42] #19 closed

[2021-07-01 20:49] CanKeles5 commented on #82
Hi, I no kongre need an answer. I think it can be closed. Thanks.

1 Tem 2021 Per 23:42 tarihinde Fabian-Robert Stöter <
***@***.***> şunu yazdı:

[2021-07-02 11:49] sevagh commented on #85
I'm a bit distracted with the AICrowd/ISMIR 2021 Music Demixing Challenge right now

I have a question for you regarding random seeds - can the random seed make a big difference in model convergence? Or is it a minor SDR improvement only across different random seeds?

E.g. here is a vocal and drum model I am training (it's loosely based on UMX, but uses a different TFR than the STFT).

Vocal vali

[2021-07-02 13:10] faroit commented on #85
we have some news tomorrow... so stay tuned ;-)

i remember you need some luck for training a good model. Did you enable all augmentations?

[2021-07-06 02:08] BYR-HZ opened #88 "Can't just evaluate one goal"
when I run “python openunmix/evaluate.py --root /local/musdb18 --targets vocals  --model my_model --residual acc”
appear：
Traceback (most recent call last):
  File "openunmix/evaluate.py", line 260, in <module>
    results.add_track(scores)
  File "/home/bianyuren/anaconda3/envs/umx-gpu-pytorch_1_8/lib/python3.8/site-packages/museval/aggregate.py", line 183, in add_track
    self.df = self.df.appe

[2021-07-06 12:46] adefossez opened #89 "Cannot use double precision with wiener filtering"
## 🐛 Bug

It seems because of this line: https://github.com/sigsep/open-unmix-pytorch/blob/master/openunmix/filtering.py#L301, where dtype is not provided and fixed, trying to use wiener filtering with double precision will fail.

[code]

## To Reproduce

Call wiener filtering function with a magnitude that is float64, and complex spectrogram of the mixture that is complex128.

## Expected behavio

[2021-07-06 13:02] faroit commented on #89
@adefossez good catch... will add this soon.

[2021-07-08 13:31] adefossez commented on #89
Sounds good! I assume then you actually don't use double precision for Open Unmix despite the note in the comments?

[2021-07-08 15:28] faroit commented on #89
I remember when we ported this @aliutkus had problems getting stable results with float32, thus requiring doubles. Then we were able to fix this at some point (either this or the torch implementations improved over time)....

[2021-07-11 19:53] vitacon opened #90 "RuntimeError: Backend "sox_io" is not one of available backends: ['soundfile']."
## 🐛 Bug

I am trying to run umx in Windows 10 64 + Anaconda 3.
The installation ("pip install openunmix") seemed to pass without any problem but "umx anyfile.wav" failed:

[code]

The strange thing was that I got the same error message with full path to the file and even with a non-existing file so it seemed umx could not even load the input file.

Then I noticed this:
`Note that we support all f

[2021-07-14 19:01] Mixerrog opened #91 "UMX-L 1.2 installation?"
Is there any installation instructions for the brand new version yet with larger training table?

Thanks, Rog

[2021-07-14 19:14] dts350z opened #92 "Docker command example not working"
## 🐛 Bug

The docker command listed on the github homepage fails with RuntimeError: Error loading audio file: failed to open file umx

## To Reproduce

Steps to reproduce the behavior:

T>docker run -v ~/Music/:/data -it faroit/open-unmix-pytorch umx "/data/track1.wav" --outdir /data/track1
Using  cpu
Downloading: "https://zenodo.org/api/files/1c8f83c5-33a5-4f59-b109-721fdd234875/vocals-b62c91ce.p

[2021-07-14 19:32] faroit commented on #91
@Mixerrog not sure what you refer to. I've updated the readme along with the new release. To update the pip package, run `pip install openunmix --upgrade`. What do you think is missing in the readme?

the new model is called `umxl`

[2021-07-14 19:34] faroit commented on #92
@dts350z maybe i should have documented this better, the docker entrypoint is `umx` (see here: https://github.com/sigsep/open-unmix-pytorch/blob/master/Dockerfile#L15) so you would probably be able to run the model using just

`docker run -v ~/Music/:/data -it faroit/open-unmix-pytorch "/data/track1.wav" --outdir /data/track1`

[2021-07-14 19:36] dts350z commented on #92
It does seem to work if you just remove the string "umx" from the command.

T>docker run -v "D:\Glenn\Music\data":/data -it faroit/open-unmix-pytorch "/data/track1.wav" --outdir /data/track1
Using  cpu
Downloading: "https://zenodo.org/api/files/1c8f83c5-33a5-4f59-b109-721fdd234875/vocals-b62c91ce.pth" to /root/.cache/torch/hub/checkpoints/vocals-b62c91ce.pth
100%|██████████████████████████████████

[2021-07-15 00:56] Mixerrog commented on #91
I ran your command line for my Anaconda prompt & seemed to install but only downloaded 200 mb of data & I see the new training models which I have downloaded totaled 452 mb so does not look like it downloaded them to use to increase the performance.

I then tried my old batch file that starts with "python -m spleeter separate -i" and I think it just runs the older version still. Is there a differe

[2021-07-15 08:28] faroit commented on #91
yes, the new model would need to explicitly have to be called using `umx --model umxl input.wav` as documented in the readme

[2021-07-15 08:30] faroit commented on #92
@dts350z i corrected the readme in 21c5ba

thanks for reporting

[2021-07-15 08:30] #92 closed

[2021-07-15 08:33] faroit commented on #90
@vitacon thanks for opening an issue. It looks like this is a torchaudio issue:

Their [documentation](https://pytorch.org/audio/stable/backend.html) states that

* “sox_io” (default on Linux/macOS)
* “soundfile” (default on Windows)

now, in openunmix I set sox_io as the default for all systems and I guess it would be better to just let torchaudio select their default and allow openunmix to overr

[2021-07-15 08:34] faroit commented on #88
@BYR-HZ will have to look into this to reproduce. Do you have some more information or advice how to quickly reproduce this?

[2021-07-15 08:35] faroit commented on #85
@sevagh can this be closed?

[2021-07-15 08:35] #82 closed

[2021-07-15 08:54] BYR-HZ commented on #88
I've only trained one Vocals model and wanted to be able to evaluate it。When I follow your instructions  run“python openunmix/evaluate.py --root /local/musdb18 --targets vocals --model my_model --residual acc”。
Error occurred：
          raise KeyError(KeyError: "The following 'id_vars' are not present in the DataFrame: ['name', 'time']"
         Because there is no correct data format to pass into

[2021-07-15 10:58] vitacon commented on #90
Sounds good. Thanks! =)

[2021-07-15 11:10] Mixerrog commented on #91
I still can not get it to run, this is what I got ----

(base) C:\Users\Rog 3>umx --model umxl "B:\Audio Files\(0000) Artists Music (Flacs)\Beatles\(000) Beatles Unlimited - Mirror Spock (remaster of the 2009 remixes) (flac)\(01) Please Please Me UNLIMITED\U08 - Love Me Do (2009 Digital Remaster).wav" --outdir "E:\Open-Unmix UMX"
Traceback (most recent call last):
  File "c:\users\user\anaconda3\l

[2021-07-15 12:25] #90 closed

[2021-07-15 12:27] faroit commented on #91
if you are running this on windows you have to switch to the `soundfile` backend. This was also reported in #90 and is already being addressed in the next version. For now, manually change the backend to `soundfile`.

yes, they do. After that, they are cached

[2021-07-15 12:33] sevagh commented on #85
Sure, you can. I suppose my last question/concern is that, every other important setting of UMX is already set by default, except source augmentations:

seq-dur is 6.0 by default so chunking is enabled

64 samples per track is default, so this is enabled

This one is disabled by default, and needs to be added with `--source-augmentations gain channelswap`

This one is enabled by default (not even

[2021-07-15 12:35] faroit commented on #85
yes, you are right, I will add this in the next version

[2021-07-15 12:38] faroit opened #95 "Add umxl as new default"
Better performance == more fun ;-)

[2021-07-15 12:53] #89 closed

[2021-07-15 13:06] #85 closed

[2021-07-15 13:56] Mixerrog commented on #91
I now got it to run but I am still getting this --
(base) C:\Users\Rog 3>umx --model umxl "B:\Audio Files\(0000) Artists Music (Flacs)\Beatles\2009 Stereo re-masters\(14) Past Masters\Disc 1\05 I'll Get You [Mono].wav" --audio-backend soundfile --outdir "E:\Open-Unmix UMX"
Error processing line 7 of c:\users\user\anaconda3\lib\site-packages\pywin32.pth:

  Traceback (most recent call last):
    Fi

[2021-07-15 14:50] faroit commented on #91
Error processing line 7 of c:\users\user\anaconda3\lib\site-packages\pywin32.pth:

unfortunately, I can't provide help on this one as I don't use windows

`umxl` was trained on bandlimited so, unfortunately, the model only outputs about 16khz bandwidth.

[2021-07-15 16:53] Mixerrog commented on #91
I am not seeing a dos process bar when doing separations like was on the other versions of Open-Unmix, can that be added to a future update please?

Thanks, Rog

[2021-07-15 17:12] Mixerrog commented on #91
Also, forgot to ask if there a way to output the stems in 16 or 24 bit flacs instead of 32 bit wav files?

Thanks, Rog

[2021-07-15 17:49] faroit opened #99 "Add progress bar for cli inference"
as proposed in #91

[2021-07-15 17:52] faroit commented on #91
this is already supported in the `stempeg` backend. E.g. run

`umx --ext .flac --audio-backend stempeg input.wav`

[2021-07-15 17:52] faroit commented on #91
i added a separate issue for this

[2021-07-15 17:52] #91 closed

[2021-07-15 17:55] Mixerrog commented on #91
Thanks for all your great support & great program also!!!

Rog

[2021-07-16 17:56] MrBasssman65 opened #100 "UMX-L 1.2 installation"
Hi I have a similar issue to MixerRog's post in # 91.    It did install but I got the following:  Using cpu
c:\users\user\anaconda3\lib\site-packages\openunmix\transforms.py:204: UserWarning: torchaudio.functional.functional.complex_norm has been deprecated and will be removed from future release. Please convert the input Tensor to complex type with torch.view_as_complex then use torch.abs. Please

[2021-07-16 18:36] faroit commented on #100
that's just a warning you can safely ignore it, it won't affect the separation. It's already fixed in the master branch of the repository in #98

[2021-07-16 21:24] #100 closed

[2021-07-16 21:59] MrBasssman65 commented on #100
Thanks for your reply but as I mentioned I am not really getting wav file separations, just one set of .PTH files.  After that I continue to get the error I mentioned and no further separations are performed.
________________________________
From: Fabian-Robert Stöter ***@***.***>
Sent: Friday, July 16, 2021 11:36 AM
To: sigsep/open-unmix-pytorch ***@***.***>
Cc: MrBasssman65 ***@***.***>; Author

[2021-07-17 11:28] faroit commented on #100
@MrBasssman65 can you show how you run it?

[2021-07-17 14:24] MrBasssman65 commented on #100
Thank you again for your reply.  I managed to get it to work even though the errors still show up.  At first I didn't realize that when it said cpu that it was working despite the fact that the error message showed up immediately after.  I guess I can manage with that until the next update which hopefully will get rid of the error messages.  Thanks again for your support of someone who is really n

[2021-07-22 19:15] Mixerrog opened #101 "UMX with flac output"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please add some information about your environment

 - PyTorch Version (e.g., 1.2):
 - OS (e.g., Linux):
 - torchaudio loader (y/n):
 - Python version:
 - CUDA/cuDNN version:
 - Any other relevant information:

If unsure you can paste the output from the [pytorch environment collection scri

[2021-07-22 19:22] Mixerrog commented on #101
I had asked previously about flac output options & you said ---
"this is already supported in the stempeg backend. E.g. run
umx --ext .flac --audio-backend stempeg input.wav "

I did this & it runs but the stems are not the same separation quality as the UMX 32 bit wav version & only take 1/2 the time to produce. Looking at the flac stem spectrums, they are not cutoff at 16khz also so I think this

[2021-07-23 06:28] faroit commented on #101
@Mixerrog I don't understand what you mean by "versions". Each version of the python package produces identical results. it all depends on the pre-trained model you are using.

[code]

uses `umxhq` by default

you can changes this to `umxl` using `umx --model umxl --ext .flac --audio-backend stempeg input.wav`

[2021-07-23 06:29] #101 closed

[2021-07-23 08:00] faroit commented on #80
according to https://github.com/pytorch/pytorch/pull/56488 this has been fixed in pytorch 1.9

[2021-07-23 08:00] #80 closed

[2021-07-23 08:30] #99 closed

[2021-07-23 08:36] #31 closed

[2021-07-23 08:36] #95 closed

[2021-07-23 10:51] Mixerrog commented on #101
Faroit,

I should have referred to my question about a flac output to my # 91 issue question. Since my heading at that #91 issue was "UMX-L 1.2 installation",  I thought the answer you gave me at that time "umx --ext .flac --audio-backend stempeg input.wav" was for a output from the new UMX version & that is why I used it.

Thanks for the correction.

One more thing, for the new UMX version, how d

[2021-07-23 12:06] faroit commented on #101
@Mixerrog i just released a new version of the python package. So you run `pip install openunmix --upgrade` you should get version 1.2.1. This version will use `umxl` by default :-)

GPU is used automatically when available. If its not used, you need to check your python environment and maybe install a pytorch version with gpu support (see pytorch guides)

[2021-07-25 01:09] Mixerrog commented on #101
pip install openunmix --update  did not work, got error saying "no such update: --update"

Thanks for your help, Rog

[2021-07-25 04:30] faroit commented on #101
sorry, its `upgrade` not `update`

[2021-07-25 11:00] Mixerrog commented on #101
That installed version 1.2.1 & runs but still getting a errors of    No module named 'pywin32_bootstrap'
This is my dos command line when I run my bat file for umx --model umxl --ext .flac "audio input file" --audio-backend stempeg --outdir "output file location"
I did notice you added a progress bar but it just sets at 0% till the program ends & then jumps to 100% instead of jumping in 25% steps

[2021-07-25 12:12] faroit commented on #101
@Mixerrog For your windows related error, i can't provide help... See https://stackoverflow.com/questions/58989806/anaconda-terminal-error-pywin32-bootstrap

The progress bar in the new version is one step per file now, not one per source. This is because since version 1.1.0, the model is end-to-end and we don't want to add a progress bar inside the model.forward path

[2021-07-26 09:00] #88 closed

[2021-07-30 00:01] sevagh opened #104 "Zenodo model should have the separator.json file included"
If I want to download the umx pretrained model, I can get the target.json and target.pth files from Zenodo, but it's lacking the separator.json:
https://zenodo.org/record/3340804

It's pretty easy to generate but do you think this should be in the Zenodo collection of files?

[2021-07-30 06:46] faroit commented on #104
@sevagh yes, good point. Zenodo is painful when it comes to json since you can't download them directly or save them in the root dir... but i can update the repos

[2021-07-30 10:50] sevagh commented on #104
Can the pretrained model download be a single zip containing the 4 training logs, separator.json, and the 4 pth files? The working UMX setup.

Or is it split up in Zenodo for flexiblity? E.g. to be able to download each model separatey.

[2021-07-30 19:25] faroit commented on #104
it was split to allow torch.hub to be used with zenodo. For torch.hub a direct link to the pth file is required

[2021-08-31 17:42] papahabla opened #106 "Hub loader doesn't use wiener_win_len argument value"
I'm not sure if this is intentional or not but the `wiener_win_len` argument is not used by the `hub_loader` in the following [code](https://github.com/sigsep/open-unmix-pytorch/blob/master/openunmix/utils.py).

[code]

## To Reproduce

Call the command line with default and different `--wiener-win-len` value such as `600` and the outputs will be identical.

[2021-08-31 17:46] faroit commented on #106
@papahabla goot catch. Are you able to provide a PR to fix this?

[2021-10-19 14:20] aframires opened #108 "Missing import of predict when extracting from youtube"
## 🐛 Bug

When running the Colab just for extracting the stems from the youtube video, we get `NameError: name 'predict' is not defined`. This might have been overlooked as the import of `predict` happens on the `Separate MUSDB18 tracks` section. I think there should not be any need to run that section if the user just desires to extract the stems from an youtube video.

## To Reproduce

Steps to

[2021-10-29 12:38] faroit opened #109 "Submit to huggingfaces hub"

[2021-10-29 12:46] faroit opened #110 "evaluate audacity torch model"

[2021-11-18 18:37] yugaljain1999 opened #111 "Shape broadcasting error in norbert filter _init__.py while referring v1.0.0"
@faroit I was referring to v1.0.0 of this repo as there you implemented numpy version of weiner filter instead of torch but facing broadcasting shape error under softmask=False 'filter*x[...,None]' in weiner filter function.
 Can you please help me in this as its very important for me to solve this error ASAP? What changes should I do while preprocessing  audio before feeding into separator functi

[2021-11-18 19:24] faroit commented on #111
Not sure if I understand. Can you post a minimal working example that shoes the error?

[2021-11-19 08:01] yugaljain1999 commented on #111
@faroit I tried to run v1.0.0 by checking out commit 3f6a42110c4aa77cedd66770e20aecdcecbb348c

Version:
Pytorch 1.10
Python 3.7.4
OS - Windows 10
MUSDB18-HQ dataset I downloaded for evaluation - https://sigsep.github.io/datasets/musdb.html#musdb18-hq-uncompressed-wav

Commands I referred to run eval.py script using pretrained MUSDB18-HQ uncompressed dataset on 'umxhq' model as follows:
`git clone

[2021-11-19 16:58] faroit commented on #111
@yugaljain1999 you would need to run that version with the respective torch environment, that version had

- an older torch version
- an older version of musdb and museval
- an older version of norbert

[2021-11-19 17:36] yugaljain1999 commented on #111
@faroit Thanks for you reply but I have used that too as well but encountered same error :(
Is there any other solution? Can you please try it yourself, you will clearly observe it?

[2021-11-19 19:29] faroit commented on #111
In your first comment I see that you were using torch 1.10. That's not the version that was used for open-unmix 1.0.0

[2021-11-19 19:53] yugaljain1999 commented on #111
That's right @faroit in v1. 0.0 you mentioned pytorch 1.2 torchaudio 0.3 for linux OS.
But still by using that version recently I am getting same error.
That's why please suggest me what should I do now?
If you can install that env in your pc and test then you can observe that error.

Hoping to hear back from you soon :)

[2021-11-19 20:35] aliutkus commented on #111
it looks to me you are trying to multiply a waveform with something happening in the frequency domain:
`(1,9265664,2,4)` looks like a waveform, is `v` really a spectrogram here ?

[2021-11-19 21:30] yugaljain1999 commented on #111
Yes v is targets spectrogram here

On Sat, 20 Nov, 2021, 2:05 am Antoine Liutkus, ***@***.***>
wrote:

[2021-11-22 09:24] faroit commented on #111
@yugaljain1999 i tested `v1.0.0` on my machine. It works fine but you have to make sure that you use a local model.pth file or modify the torch hub loader so that uses `v1.0.0` from github:

[code]

[2021-11-22 09:24] #111 closed

[2022-02-10 18:48] sevagh opened #113 "Running umxhq on a large test track (Georgia Wonder - Siren) blows up memory >64GB"
Running the umxhq separator with the default wiener separation (niter=1) really blows up my memory usage when I run umx with the CPU. Is it really supposed to do that?

I could swear this used to run fine before, and I never had more than 64GB of RAM. It sounds like a conspiracy but I wonder if some possible ffmpeg version upgrade could be silently causing more memory to be used?

[2022-02-10 19:19] sevagh commented on #113
I just saw the other suggestion to do inference in 30s-sized chunks so I'll do it that way.

[2022-02-10 19:19] aliutkus commented on #113
hmmm, could you check whether the `batch_size` parameter inside the `expectation_maximization` method of `filtering.py` is being used ?

If not, it means that the system is trying to process the whole track, which may be the source of the problem

[2022-02-10 19:27] sevagh commented on #113
Yes, it is being used (the default of 200).

[2022-02-10 19:29] aliutkus commented on #113
ok, and when you have 0 iterations, it works fine ?

[2022-02-10 19:33] sevagh commented on #113
Yes, `umxhq(device="cpu",niter=0)` works well. The total memory usage is at 29GB, while with niter=1, it grows to >64 and gets killed. I guess this is a duplicate of https://github.com/sigsep/open-unmix-pytorch/issues/7 which is my bad

I'm just surprised because it's the first time I had an issue running a full evaluation.

[2022-02-10 19:39] aliutkus commented on #113
ok. Oh I guess I should fix the memory usage

[2022-02-10 19:45] aliutkus commented on #113
what's the length of the track ?

[2022-02-10 19:55] sevagh commented on #113
If you would like, I can take a look with memory_profiler and see if I can create any savings?

Song looks like it's 7:10:
[code]

[2022-02-10 20:32] aliutkus commented on #113
well ok we could do that together ! Thanks

(I'm not super available these times, but I'm curious about it). Normally this batchsize parameter should be saving quite a lot of ram, so if you may profile as a start to see what are the tensors that are exploding ?

Are you tracking gradient btw ?

[2022-02-10 20:37] sevagh commented on #113
I just tried disabling grad on my audio tensor, didn't save much.

Some heavy lines from my profiling:
[code]
[code]

[2022-04-21 13:47] sevagh opened #114 "SDR performance regression since version 1.0.0"
Hi all,

So, when I evaluated UMX and X-UMX (to compare with my model, xumx-sliCQ), in my MDX published paper, I reported the following median SDR values:

https://mdx-workshop.github.io/proceedings/hanssian.pdf

I noticed this wasn't aligning with published performance of UMX/X-UMX (in the X-UMX paper):

https://arxiv.org/pdf/2010.04228.pdf

UMX is supposed to be closer to X-UMX, not almost 1 dB

[2022-04-21 15:27] TobiasB22 opened #115 "--help option seems to be broken in v1.2.1"
## 🐛 Bug
Trying to get help information with either -h or --help results in the program crashing with an error message.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Expected behavior would be to just get help displayed. 😅

## Environment

Please add some information about your environment

 - PyTorch Version (e.g., 1.2):  1.9.0
 - OS (e.g., Linux): Windows | An

[2022-04-21 21:23] faroit commented on #115
thanks, this is known, i will try to fix it next week

[2022-04-21 21:47] faroit commented on #114
@sevagh interesting, we have a [regression test](https://github.com/sigsep/open-unmix-pytorch/blob/master/tests/test_regression.py#L38-L73) that did compare the SDR against vs. 1.0, so that at least on that one track it doesn't seem to have changed.

did you make sure that the `separator` settings are the same in your code?

[2022-04-23 09:48] TobiasB22 commented on #115
I think it is simply fixed by adding a second %-sign to escape the %-character in line 109 of cli.py

``
"Supported: `['torch', 'asteroid']`. `torch` is ~30%% faster"
``

[2022-04-23 10:25] faroit commented on #115
good catch, do you want to provide a PR?

[2022-05-12 08:19] faroit commented on #114
@sevagh did you manage to figure out what the issue is?

[2022-05-12 17:19] sevagh commented on #114
Forgot to follow up - I will try to replicate later today.

[2022-05-16 19:04] sevagh commented on #114
The regression test uses the 7s MUSDB18 excerpt (which may not even be in the wav format). I wonder if that's related.

[2022-05-17 11:12] faroit commented on #114
I think it's because you evaluated on HQ as opposed to the normal musdb18.

[2022-05-25 08:41] deepakpawade opened #118 "Error when training."
To train I used the following command.
`python train.py --dataset sourcefolder --output open-unmix-512 --root data --target-dir podcasts --interferer-dirs interfer --ext .wav --nb-train-samples 1800 --nb-valid-samples 100`

However I get an error saying the following :
Using GPU: True
100%|███████████████████████████████████████████████████| 2/2 [00:06<00:00,  3.41s/it]
100%|██████████████████████

[2022-05-25 10:07] deepakpawade commented on #118
S

[2022-05-25 10:08] deepakpawade commented on #118
Solved by redownloading all the files again. Must have changed something somewhere and forgot about it. 😕 🥇

[2022-05-25 10:08] #118 closed

[2022-05-25 13:41] deepakpawade opened #119 "RuntimeError: "reflection_pad1d_out_template" not implemented for 'Short' : when using separate method"
`estimates = separate(audio=mix_torch,
                     targets=['podcasts'],
                     model_str_or_path='../scripts/open-unmix-512',
                     device='cuda',
                     rate = rate
                      )`
stackstrace :
RuntimeError                              Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_14992/3837081952.py in <module>
---

[2022-05-26 13:03] deepakpawade commented on #119
@faroit was having compatibility issues with 1.9.0 so installed 1.9.1 but still the same error
cuda 11.1
torch                        1.9.1+cu111
torchaudio                   0.9.1
torchvision                  0.10.1+cu111

[2022-05-26 13:28] deepakpawade commented on #119
Also, is there any alternative method for the same?

[2022-07-07 21:15] ayush055 opened #121 "Training Hardware and Issue"
Hi, how many RTX 2080 GPUs was the model trained on?

I am trying to use one RTX 2070 GPU with 4 workers but training takes about 10-15 minutes per epoch.

Also, I encounter the following error when validation occurs:

_pickle.PicklingError: Can't pickle <function MUSDBDataset.<lambda> at 0x000001E5ECB6D5E8>: attribute lookup MUSDBDataset.<lambda> on openunmix.data failed
EOFError: Ran out of inpu

[2022-07-08 05:09] #109 closed

[2022-07-08 05:12] faroit commented on #121
@ayush055

- I was using one gpu per model (=source)
- the dataloader is slow by default. Please use the wav version of the MUSDB18 dataset. and switch on https://github.com/sigsep/open-unmix-pytorch/blob/master/openunmix/data.py#L292
- ` EOFError: Ran out of input` are you using the exact evironment here: https://github.com/sigsep/open-unmix-pytorch/blob/master/scripts/environment-gpu-linux-cuda1

[2022-07-09 03:34] ayush055 commented on #121
What specific hyperparameters did you use for training? I am unable to achieve such fast training times per epoch with the MUSDB18HQ dataset.

[2022-07-09 06:21] faroit commented on #121
Can you check your gpu utilization?

[2022-07-09 06:32] ayush055 commented on #121
It is not being fully used. I am training on an A10 GPU and only about 8 GB of 24 GB memory is being used from the gpu. Increasing batch size, however, makes training take even longer.

[2022-07-09 08:04] faroit commented on #121
That's a known issue caused by the musdb dataloader. I might be able to fix this soon.

In the meantime. Please use the the `trackfolder_fix` dataloader in the meantime. This is using pysoundfile and should be significantly faster

[2022-07-09 14:04] ayush055 commented on #121
In regards to the MUSDB18HQ dataset, is this the correct command?

python train.py --root ~/musdb18hq --nb-workers 16 --dataset trackfolder_fix --target-file vocals.wav --interferer-files bass.wav drums.wav other.wav --epochs 400

With this command, I am getting about 48 seconds per epoch. However, the output printed to the terminal doesn't show the progress bar with the 344 batches. Rather, it sh

[2022-07-09 19:53] faroit commented on #121
Let me try this here and get back to you in the next week

[2022-07-09 23:32] ayush055 commented on #121
I have tried training the model on the MUSDB18HQ dataset for vocals separation for 400 epochs but the train loss has not gone below 1. Looking at the graphs, the train loss dropped below 1 within the first few epochs. Why is this?

[2022-07-19 22:11] ayush055 commented on #121
Oh cool! Thanks. I was able to fix the musdb dataloader by using the load_audio function instead of the dataframe that exists. I think the bottleneck is in actually loading the audio file. Using torchaudio speeds up the process significantly and I was able to replicate the results.

[2022-07-19 22:13] ayush055 opened #122 "Use of Transformers/Attention"
Hi, I was just wondering if there have been any attempts at using a Transformer instead of the Bi-LSTM or utilizing attention in the network to potentially improve results?

[2022-07-20 02:25] ayush055 opened #123 "Validation Error"
How can I solve the following error which only occurs during validation:

_pickle.PicklingError: Can't pickle <function MUSDBDataset.<lambda> at 0x000001592053EC18>: attribute lookup MUSDBDataset.<lambda> on openunmix.data failed

EOFError: Ran out of input

[2022-07-20 22:12] gzhu06 commented on #121
Yes, I think the dataloading pipeline of musdb is problematic,  `trackfolder_fix` dataloader uses `torchaudio`. I didn't look into the details but I guess there's some bugs in using audio backend in the musdb package.

[2022-08-26 10:54] seq2193 opened #124 "Model download is very slow"
![44](https://user-images.githubusercontent.com/109962092/186886884-e527293e-c3b1-4f5c-825a-f7c9e57bcc2d.PNG)
Hello! I use Open Unmix on colab - Pytorch
But I found that the model download is very slow!
Check https://zenodo.org/ for server locations in Switzerland,
Can you change the model download address? It is recommended to go to github or https://huggingface.co/

2. It is recommended to conve

[2022-08-31 17:46] faroit commented on #124
I acknowledge it's getting slower and slower. Will consider using huggingfaces for at least the umxl model

[2022-09-08 16:01] nnanos opened #125 "multichannel generalized Wiener filter question"
Is it possible to train the Open-Unmix with a different Front-End (e.g. different parameters of the STFT ) for each source and then on the evaluation phase use the  multichannel generalized Wiener filter?? I dont know the mechanics of the multichannel generalized Wiener filter but by inspection of the evaluation.py code you CANT provide it with different separator.json files (one for each Front En

[2022-09-08 21:08] faroit commented on #125
Good question, the time-frequency resolutions have to be the same. For learnable front-ends I'm not sure if anyone has tried this yet.